/*************** General ****************************************************************************/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


body {
    display: flex;
    justify-content: center;
    margin: auto;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/*************** Header ****************************************************************************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}
header .logo {
    padding-top: 30px;
    width: 61px;
}

header .menu {
    display: flex;
    gap: 68px;
}

header .menu a {
    display: flex;
    border-top: 2px solid transparent;
    padding: 20px;
}

header .menu a:hover {
    color: #0065FC;
    border-color: #0065FC;
}

/*************** Titres & Paragraphes ****************************************************************************/

.titre1 {
    display: flex;
    flex-direction: column;
}

h2 {
    margin: 0;
    padding: 8px 0px;
    font-weight: 700;
    font-size: 22px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

p {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}

/*************** Search ****************************************************************************/

.search form {
    padding: 30px 0;
    display: flex;
}

.search form .location-dot {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
    padding: 16px;
}

.search form .ville {
    background: #ffffff;
    border: 1px solid #F2F2F2;
    border-right: none;
    font-weight: 700;
    font-size: 16px;
    padding-left: 16px;
}

.search form button {
    border: none;
    background: none;
    display: none;
}

.search form .button {
    color: white;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    font-weight: 700;
    font-size: 18px;
    padding: 16px;
    cursor: pointer;
}

.fa-location-dot {
    color: black;
    font-size: 18px;
}

/*************** Filters ****************************************************************************/

.filters {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 5px 0;
}

.filters .icon {
    align-items: center;
    margin-right: 10px;
}

.filters-row {
    display: flex;
    gap: 15px;
}

.filters .button {
    display: flex;
    gap: 15px;
}

.filters button {
    font-weight: 700;
    font-size: 16px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background-color: white;
    padding: 15px 19px;
}

.filters button i {
    font-size: 22px;
    align-items: center;
}


.filters button:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

.point-info {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 30px 0;
}

.point-info p {
    font-weight: 400;
    font-size: 16px;
}

.point-info button {
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    min-width: 24px;
}

.point-info .fa-info {
    width: 4px;
}

/*************** Main ****************************************************************************/

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*************** Hebergements And Populaires ******************************************/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/**************** Hebergements ********************************************************/
.hebergements {
    width: 65%;
}

.hebergements .row-cards {
    display: flex;
    padding-top: 30px;
    gap: 30px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    padding:  0 15px 15px 15px;
    gap: 8px;
}

.hebergements .afficher-plus {
    padding-top: 30px;
}

.afficher-plus a {
    font-weight: 700;
    font-size: 18px;
    border: none;
    background-color: none;
}

/********************** Populaires *************************************************/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/************************Activité*************************************/
.activites {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30;
}

.activites h2 {
    padding: 30px 0;
}

.cards-box {
    display: flex;
    gap: 30px;
}

.cards-box .card {
    height: auto;
    padding: 0;
    width: 100%;
}

.cards-box .card img {
    width: 100%;
    object-fit: cover;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.cards-box .card p {
    font-size: 16px;
    font-weight: 700;
    padding: 20px 19px 20px 19px;
}

/****************Footer*******************************************/
.footer {
    display: flex;
    background-color: #F2F2F2;
}

.footer .footer-column {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 33% ;
}

.footer .footer-column h3 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/********************** Media queries ****************************************************************/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        margin-top: 20px;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .filters {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .hebergements-and-populaires {
        gap: 0;
    }

    .cards-box .card img {
        height: 200px;
    }


}

/* Small devices (phones, less than 768px) */
@media only screen and (max-width: 767.98px) and (min-width: 320px) {

    .main-container {
        padding: 0;
        gap: 0;
    }

    /*******Header*********/

    header {
        flex-direction: column;
        padding-bottom: 30px;
    }

    header .logo {
        padding: 30px;
    }

    header .menu {
        justify-content: space-between;
        width: 100%;
        gap: 0;
    }

    header .menu a {
        justify-content: center;
        padding-bottom: 15px;
        width: 100%;
        border-bottom: 2px solid #F2F2F2;
    }

    header .menu a:hover {
        border-top: none;
    }

    /*************Search*****/

    .titre1 {
        padding: 0 20px;
    }

    .search form {
        justify-content: center;
    }

    .search form .button {
        display: none;
    }

    .search form button {
        display: flex;
        justify-content: center;
        background: #0065FC;
        border: 1px solid #0065FC;
        border-radius: 15px;
        font-weight: 700;
        font-size: 18px;
        padding: 16px;
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    }

    .search .fa-magnifying-glass {
        color: white;
    }

    /******** Filters**********/

    .filters {
        padding: 0 20px;
    }

    .filters button {
        font-size: 14px;
        align-items: center;
    }

    .filters .button {
        width: 100%;
        flex-direction: column;
    }

    .filters-row button {
        display: flex;
        width: 100%;
    }

    .point-info {
        padding: 35px 0 20px 20px;
    }

    /***********Hébergement&Populaires**********/

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 15px;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
        padding: 30px 20px;
    }

    /*********Populaires*********/

    .populaires {
         margin-top: 0;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    /******Hébergement**********/

    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    .hebergements .row-cards {
        flex-direction: column;
        gap: 15px;
        padding-top: 15px;
    }

    .hebergements .row-cards .card {
        width: auto;
    }

    .hebergements .afficher-plus {
    padding-top: 15px;
}

    /*******Activités***********/

    .activites {
        padding: 30px;
    }

    .activites .cards-box {
        flex-direction: column;
        gap: 15px;
    }

    .cards-box .card {
        width: 100%;
    }

    /********Footer*********/

    .footer {
        flex-direction: column;
        padding: 30px;
        gap: 50px;
        }

    .footer .footer-column {
        width: 100%;
        padding: 0;
    }


}